@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

:root {
  --button-blue-color: #5e95e8;

  --primary: #ffffff;
  --secondary: #fafafa;
  --border: #dbdbdb;

  --story-border: #c7c7c7;

  --text-dark: #262626;
  --text-light: #999999;
}

:root.darkTheme {
  --primary: #000000;
  --secondary: #252525;
  --border: #262626;

  --story-border: #707070;

  --text-dark: #fafafa;
  --text-light: #999999;
}

/* CSS Reset */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
button,
input,
select,
textarea {
  font-family: "Roboto";
}

/* General Styles */
body {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}

img {
  max-width: 100%;

}

img[src*="avatar"] {
  border-radius: 50%;
}

/* a 태그의 밑줄과 컬러를 제거 */
a {
  text-decoration: none;
  color: inherit;
}

/* 버튼의 배경을 제거하고 커서의 모양을 포인터로 변경 */
button {
  border: 0;
  outline: 0;
  background: none;
  cursor: pointer;
}

/* filter 기능을 통해 svg Toggle */
:root.darkTheme img[src$=".svg"] {
  filter: brightness(0) invert(1);
}