@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* CSS Reset */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
button,
input,
select,
textarea {
  font-family: 'Roboto';
}

/* General Styles */
body {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  overflow-y: auto;
  color: var(--text-dark);
  background-color: var(--secondary);
}

img {
  max-width: 100%;
}

img path {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7466%) hue-rotate(301deg) brightness(117%) contrast(100%);
}

button {
  border: unset;
  background-color: unset;
  color: var(--text-dark);
}

:root {
  --primary: #FFFFFF;
  --secondary: #FAFAFA;
  --border: #DBDBDB;

  --story-border: #C7C7C7;

  --text-dark: #262626;
  --text-light: #999999;

  --btn-blue: #6af;
}

:root.darkTheme {
  --primary: #000000;
  --secondary: #050505;
  --border: #262626;

  --story-border: #707070;

  --text-dark: #FAFAFA;
  --text-light: #999999;

  --btn-blue: #6af;
}

:root.darkTheme img[src$=".svg"] {
  filter: brightness(0) invert(1);
}