/* Header Navbar */
.header {
  width: 100%;
  height: 44px;
  background-color: var(--primary);

  display: flex;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.header::after {
  content: "";
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 1px;
  background-color: var(--border);
}

.header__content {
  width: 100%;
  max-width: 975px;

  padding: 0 14px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__home {
  margin-top: 5px;
}

.header__theme-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header__theme-button-sun {
  display: none;
}

.header__theme-button-moon {
  display: unset;
}

.header__search {
  width: 216px;
  height: 28px;

  align-items: center;
  position: relative;

  display: flex;
  align-items: center;
}

.header__search img {
  width: 12px;
  height: 12px;

  position: absolute;
  left: 8px;

  cursor: pointer;
  transition: scale 0.2s ease-in;
}

.header__search img:hover {
  scale: 1.2;
}

.header__search input {
  width: 100%;
  height: 120%;
  background-color: var(--secondary);

  padding: 4px 10px 4px 28px;
  border: 1px solid var(--border);
  border-radius: 4px;
  outline: none;

  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  color: var(--text-light);

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.header__search input:focus {
  color: var(--text-dark);
}

.header__search .recommend__area {
  position: absolute;
  top: 100%;
  z-index: 1;
  width: 100%;

  background-color: var(--primary);

  border: 1px solid var(--story-border);
  border-top: 0px;

  color: var(--text-dark);
  font-size: 20px;
}

.header__search .recommend__area div {
  border-bottom: 1px solid var(--story-border);
  transition: background-color 0.2s ease-in;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  padding: 5px;
}

.header__search .recommend__area div:hover {
  background-color: var(--secondary);
}

.header__buttons {
  display: flex;
  align-items: center;
  gap: 16px;
}

/* Profile Button */
.profile-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
}

.profile-button__border {
  display: none;

  width: 30px;
  height: 30px;
  border: 1px solid #262626;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile-button:focus .profile-button__border {
  display: block;
}

.profile-button__picture {
  width: 24px;
  height: 24px;
  border-radius: 50%;

  overflow: hidden;
  position: relative;
}

.header__theme-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header__theme-button-sun {
  display: none;
}

.header__theme-button-moon {
  display: unset;
}

:root.darkTheme .header__theme-button-sun {
  display: unset;
}

:root.darkTheme .header__theme-button-moon {
  display: none;
}