/* Header Navbar */
.header {
  width: 100%;
  height: 44px;
  background-color: var(--background-color);

  display: flex;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.header::after {
  content: '';
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 1px;
  background-color: var(--card-border-color);
}

.header__content {
  width: 100%;
  max-width: 975px;

  padding: 0 14px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__home {
  margin-top: 5px;
}

.header__theme-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.header__theme-button-sun {
  display: none;
}

.header__theme-button-moon {
  display: unset;
}

:root.nightMode .header__theme-button-moon {
  display: none;
}

:root.nightMode .header__theme-button-sun {
  display: unset;
}

.header__search {
  width: 216px;
  height: 28px;

  display: block;
  align-items: center;
  position: relative;
}

.header__search img {
  width: 12px;
  height: 100%;

  position: absolute;
  left: 8px;
}

.header__search input {
  width: 100%;
  height: 100%;
  background-color: var(--background-color);

  padding: 4px 10px 4px 28px;
  border: 1px solid var(--card-border-color);
  border-radius: 4px;
  outline: none;

  font-size: 12px;
  font-weight: 300;
  text-decoration: none;
  color: var(--secondary-text-color);

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.header__search input:focus {
  color: var(--primary-text-color);
}

.header__buttons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header__search-result {
  display: none;
  position: absolute;
  width: 100%;
  background-color: var(--background-color);
  border: 1px solid var(--card-border-color);
  border-radius: 4px;
  z-index: 10;
}

.header__search-result--show {
  display: block;
}

.header__search-result-item {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  gap: 12px;
}

.header__search-result-item > a {
  color: var(--primary-text-color);
  text-decoration: none;
}

/* Profile Button */
.profile-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
}

.profile-button__border {
  display: none;

  width: 30px;
  height: 30px;
  border: 1px solid #262626;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile-button:focus .profile-button__border {
  display: block;
}

.profile-button__picture {
  width: 24px;
  height: 24px;

  overflow: hidden;
  position: relative;
}
