/* Main Content */
.main-container {
  background-color: var(--primary);

  margin-top: 44px;

  display: flex;
  flex: 1;
}

.content-container {
  width: 100%;
  max-width: 935px;

  padding: 0 0 8px;

  margin: 0 auto;
  display: flex;
  background-color: var(--secondary);
}

.content {
  width: 100%;
  max-width: 614px;

  margin: 0 auto;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.stories {
  width: 100%;
  background-color: var(--primary);
  padding: 16px 0;
  flex-shrink: 0;

  position: relative;

  margin-top: 40px;
  margin-bottom: 40px;

  border-radius: 8px;
  border: 1px solid var(--story-border);

  overflow: hidden;
}

.stories__content {
  display: flex;

  gap: 23px;
  padding: 0 8px;
  position: relative;

  scroll-behavior: smooth;
  top: 0;
  transition: transform 0.5s ease-out;

  list-style: none;

  z-index: 1;
}

.stories__controller {
  display: none;
}

.stories:hover .stories__controller {
  position: absolute;
  width: inherit;
  height: 100%;
  top: 25%;
  display: flex;
  align-items: center;
}

.stories__controller .stories__controller-prev {
  position: absolute;
  left: 10px;
  rotate: 180deg;

  width: 30px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: 0.5s ease-out;

  cursor: pointer;
  z-index: 2;
}

.stories__controller .stories__controller-next {
  position: absolute;
  right: 10px;

  width: 30px;
  height: 30px;

  margin-right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;

  transition: 0.5s ease-out;

  cursor: pointer;
}

.stories__controller .stories__controller-prev:hover,
.stories__controller .stories__controller-next:hover {
  transform: translateX(5px);
}

.stories__content::-webkit-scrollbar {
  /* display: none; */
}

.posts {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 8px;
}

/* Components */
/* Story */
.story {
  background-color: transparent;
  border: none;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.story__avatar {
  position: relative;
}

.story__border {
  width: 64px;
  height: 64px;

  fill: none;
  stroke: var(--story-border);
  stroke-width: 1.5;
}

.story__picture {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 56px;
  height: 56px;
  border-radius: 50%;
  overflow: hidden;
}

.story__picture::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.story__user {
  font-size: 12px;
  font-weight: 400;
  color: var(--text-light);
  text-transform: lowercase;

  max-width: 72px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.story--has-story .story__user {
  color: var(--text-dark);
}

/* post */

.post {
  background-color: var(--primary);
  padding: 15px;
  border: 1px solid var(--story-border);
  border-radius: 8px;
  margin-bottom: 40px;
}

/* post */

/* post header */
.post .post__header {
  display: flex;
  justify-content: space-between;

  margin-bottom: 10px;
}

.post .post__header .post__profile {
  display: flex;
  align-items: center;
}

.post .post__header .post__profile .post__avatar {
  width: 15%;

  margin-right: 15px;
}

.post .post__header .post__profile .post__user {
  color: var(--text-dark);
  font-weight: bolder;
}

.post .post__header .post__more-options {
  color: var(--text-dark);
}

/* post header */

/* post content */
.post .post__content {
  position: relative;
  overflow: hidden;

  transition: left 0.5s ease-out;
}

.post .post__content .post__medias {
  display: flex;
  overflow: auto;

  position: relative;

  transition: left 0.5s ease-out;
}

.post .post__content .post__media {
  object-fit: cover;
  background-size: cover;

  background-repeat: no-repeat;
}

.post .post__content .post__controller {
  position: absolute;
  width: 100%;
  height: 100%;

  top: 0%;

  display: flex;
  align-items: center;
}

.post .post__content .post__controller .post__controller-prev {
  position: absolute;
  left: 10px;
  rotate: 180deg;

  width: 30px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: 0.5s ease-out;

  cursor: pointer;
}

.post .post__content .post__controller .post__controller-next {
  position: absolute;
  right: 10px;

  width: 30px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: 0.5s ease-out;

  cursor: pointer;
}

.post .post__content .post__controller .post__controller-prev:hover,
.post .post__content .post__controller .post__controller-next:hover {
  transform: translateX(5px);
}

/* post content */

/* post footer */
.post .post__footer .post__buttons {
  display: flex;
  justify-content: space-between;

  margin: 10px 0px;
}

.post .post__footer .post__buttons .post__indicators {
  flex-grow: 0.9;

}

.post .post__footer .post__infos {
  display: flex;
  flex-direction: column;
}

.post .post__footer .post__infos .post__likes {
  color: var(--text-dark);

  display: flex;
}

.post .post__footer .post__infos .post__likes span {
  display: flex;
  align-items: center;
}

.post .post__footer .post__infos .post__likes .post__likes-avatar {
  width: 5%;

  margin-right: 5px;
}

.post .post__footer .post__infos .post__likes a {
  font-weight: bolder;

  margin: 0px 5px;
}

.post .post__footer .post__infos .post__description {
  margin: 10px 0px;

  color: var(--text-dark);
}

.post .post__footer .post__infos .post__description .post__name--underline {
  font-weight: bolder;
}

.post .post__footer .post__infos .post__date-time {
  margin: 10px 0px;

  color: var(--text-light);
}

/* post footer */

@media (max-width: 650px) {
  .main-container {
    margin-top: 44px;
    margin-bottom: 0px;
  }

  .content-container {
    display: flex;
    flex-direction: column;

    padding: 20px;
  }

  .content-container .content {
    margin: 0px;
  }

  .content-container .stories {
    margin: 20px 0px;
  }
}