/* Main Content */
.main-container {
  background-color: var(--background-color-primary);
  margin-top: 44px;
  padding-bottom: 44px;
  display: flex;
  flex: 1;
  transition: background-color 0.3s;
}

.content-container {
  width: 100%;
  height: 100%;
  max-width: 824px;
  padding: 0 0 8px;
  margin: 0 auto;
  display: flex;
}

.content {
  width: 100%;
  max-width: 472px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.stories {
  width: 100%;
  background-color: var(--background-color-secondary);
  flex-shrink: 0;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  margin-top: 16px;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s, border 0.3s;
}

.stories__content {
  display: flex;
  padding: 16px;
  position: relative;
  transition: all 0.3s ease-out;
}

.stories__content::-webkit-scrollbar {
  display: none;
}

/* Components */
/* Story */

.story {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 16px;
  gap: 6px;
}

.story__avatar {
  position: relative;
}

.story__border {
  width: 64px;
  height: 64px;

  fill: none;
  stroke: #c7c7c7;
  stroke-width: 1.5;
}

.story__picture {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 56px;
  height: 56px;
  border-radius: 50%;
  overflow: hidden;
}

.story__picture::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.story__user {
  font-size: 12px;
  font-weight: 400;
  color: #999999;
  text-transform: lowercase;

  max-width: 72px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.story--has-story .story__user {
  color: #262626;
}

.posts {
  background-color: var(--background-color-primary);
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 8px;
  margin-top: 16px;
  transition: background-color 0.3s;
}

.post {
  background-color: var(--background-color-secondary);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  transition: background-color 0.3s, border 0.3s;
}

.post__header {
  display: flex;
  align-items: center;
  margin: 8px 12px 8px 12px;
}

.post__profile {
  display: flex;

  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
}

.post__profile img {
  width: 32px;
}

.post__user {
  margin-left: 10px;
  font-weight: var(--font-weight-primary);
}

.post__content {
  position: relative;
  overflow: hidden;
}

.post__medias {
  display: flex;
  transition: transform 0.3s ease-out;
}

.post__likes img {
  width: 20px;
}

.post__more-options {
}

.post__footer {
  margin: 12px;
}

.post__buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.post__button {
  padding-right: 16px;
}

.post__button--align-right {
  margin-left: auto;
  padding-right: 0px;
}

.post__likes {
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.post__name--emphasis {
  font-weight: var(--font-weight-primary);
}

.post__description {
  margin: 12px 0;
}

.post__likes-avatar {
  margin-right: 4px;
}

.post__date-time {
  margin-top: 12px;
  font-size: 10px;
  color: var(--font-color-secondary);
  transition: color 0.3s;
}

.user-profile-img {
  border-radius: 50%;
}

.carousel-button {
  visibility: hidden;
}
.carousel-buttons {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 14px;
  z-index: 10;
}
.carousel-button--active {
  visibility: unset;
}
