.side-menu {
  display: block;
  width: 320px;
  margin-top: 48px;
  margin-left: 32px;
}

.side-menu__user-profile img {
  width: 56px;
}

.side-menu__suggestion img {
  width: 32px;
}

.side-menu__user-profile {
  display: flex;
  align-items: center;
}

.side-menu__user-info {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}

.side-menu__user-info a {
  font-weight: var(--font-weight-primary);
}
.side-menu__user-info span {
  color: var(--font-color-secondary);
}

.side-menu__suggestions-header {
  display: flex;
  font-weight: var(--font-weight-primary);
  color: var(--font-color-secondary);
  margin-top: 14px;
}

.side-menu__suggestions-header h2 {
  font-size: 14px;
}

.side-menu__suggestions-header button {
  margin-left: auto;
  font-weight: var(--font-weight-primary);
  font-size: 12px;
  color: var(--font-color-primary);
}

.side-menu__suggestions-content {
  padding: 8px 0;
}
.side-menu__suggestion {
  display: flex;
  align-items: center;
  padding: 8px 0 8px 8px;
}

.side-menu__suggestion-info {
  display: flex;
  flex-direction: column;
  margin-left: 14px;
}

.side-menu__footer {
  margin-top: 20px;
  font-size: 12px;
  color: var(--font-color-tertiary);
}

.side-menu__suggestion-info a {
  margin-bottom: 4px;
  font-weight: var(--font-weight-primary);
}

.side-menu__suggestion-info span {
  font-size: 12px;
  color: var(--font-color-secondary);
  text-overflow: ellipsis;
}

.side-menu__footer-list {
  display: flex;
}

.side-menu__footer-item {
  margin-right: 4px;
}

.side-menu__footer-links {
  margin-bottom: 16px;
}

.side-menu__button {
  font-size: 12px;
  margin-left: auto;
  color: var(--button-color);
}

/* meida query */
@media (max-width: 1000px) {
  .side-menu {
    display: none;
  }
}
